<br>
<br>
<br>
<div class='tax-bracket-table'>
  <div class="description-table">
    <center><h3 class='tax-bracket-category'>Singles</h3>
    <p class= 'tax-bracket-description'>If you’re not married and don’t qualify for the tax breaks that filing as a head of household or a qualifying widow or widower offer, then the following tax brackets apply.</p></center>
  </div>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Tax Bracket</th>
        <th scope="col">Tax Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$0.00+</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>$9,700+</td>
        <td>12%</td>
      </tr>
      <tr>
        <td>$39,476+</td>
        <td>22%</td>
      </tr>
      <tr>
        <td>$84,201+</td>
        <td>24%</td>
      </tr>
      <tr>
        <td>$160,726+</td>
        <td>32%</td>
      </tr>
      <tr>
        <td>$204,101+</td>
        <td>35%</td>
      </tr>
      <tr>
        <td>$510,301+</td>
        <td>37%</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<div class='tax-bracket-table'>
  <div class="description-table">
    <center><h3 class='tax-bracket-category'>Head of Household</h3>
    <p class= 'tax-bracket-description'>Those who are not married and support a child, parent, or other relative who lives with you more than half the year and meets certain other qualifications can file as head of household. It’s often necessary for you to claim qualifying persons as dependents. Heads of household get wider brackets that result in lower taxes.</p></center>
  </div>

  <table class="table table-hover table-dark bracket-margin">

    <thead>
      <tr>
        <th scope="col">Tax Bracket</th>
        <th scope="col">Tax Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$0.00+</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>$13,850+</td>
        <td>12%</td>
      </tr>
      <tr>
        <td>$52,851+</td>
        <td>22%</td>
      </tr>
      <tr>
        <td>$84,201+</td>
        <td>24%</td>
      </tr>
      <tr>
        <td>$160,701+</td>
        <td>32%</td>
      </tr>
      <tr>
        <td>$204,101+</td>
        <td>35%</td>
      </tr>
      <tr>
        <td>$510,301+</td>
        <td>37%</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<div class='tax-bracket-table'>
  <div class="description-table">
    <center><h3 class='tax-bracket-category'>Married Joint Filers</h3>
    <p class= 'tax-bracket-description'>Most married taxpayers file jointly, and the same tax brackets also apply to qualifying widows and widowers. Please checkout the following tax bracket if you qualify.</p></center>
  </div>

  <table class="table table-hover table-dark bracket-margin">

    <thead>
      <tr>
        <th scope="col">Tax Bracket</th>
        <th scope="col">Tax Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$0.00+</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>$19,400+</td>
        <td>12%</td>
      </tr>
      <tr>
        <td>$78,951+</td>
        <td>22%</td>
      </tr>
      <tr>
        <td>$168,401+</td>
        <td>24%</td>
      </tr>
      <tr>
        <td>$321,451+</td>
        <td>32%</td>
      </tr>
      <tr>
        <td>$408,201+</td>
        <td>35%</td>
      </tr>
      <tr>
        <td>$612,351+</td>
        <td>37%</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<br>
<br>
<br>
<center><p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Calculate Your Tax Estimate
  </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Something About Us! .
    </div>
  </div>
</center>
