<br>
<br>
<br>
<br>
<form style="margin:100px;" action='/send_mail'>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  <br>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="your@email.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message Here!!"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Contact Us</button>
</form>
