@import "/*";
@import "bootstrap";
@import "tether";

body {
  background: #F79545;
}
html {
  scroll-behavior: smooth;
}

.added{
  height: 350px;
  width: 400px;
  background-color: white;
}

.logo {
  height: 80px;
  width: 80px;
}

.add-margin {
  margin-left: 10px;
}
.logo-name {
  color: #F79545;
  margin-bottom: 0px;
  font-size: 26px;
}
.logo-name1 {
  color: deepskyblue;
  font-family: monospace;
  font-size: 23px;
}
.logo-link{
  margin-right: 0px;
}
.nav-link {
  font-size: 20px;
  font-family: serif;
}

.tax-bracket-table {
  display: flex;
  background: #f8f9fa;
  height: 393px;
  overflow: hidden;
  box-shadow: 5px 10px 50px #888888;
  margin-left: 20px;
  border-radius: 20px;
  margin-right: 15px;
}
.description-table {
  width: 50%;
}
.tax-bracket-category {
  font-size: 35px;
  color: #27005c;
  font-family: none;
  padding: 10px;

}

.tax-bracket-description {
  font-family: serif;
  font-size: 22px;
  padding: 20px;
  text-align: initial;
}
::-webkit-scrollbar {
  width: 10px;
  length: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F79545;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
  height: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track-piece {
    height: 30px;
}
::-webkit-scrollbar-thumb{
    border-radius:10px;
    height: 10px;
    width: 10px;
    border: 1px solid black;
    background: rgb(111,111,111);
    -webkit-box-shadow: 0 1px 1px rgb(0,0,0);
    background: -webkit-linear-gradient(rgb(200,200,200), rgb(150,150,150));
}
.table th {
  padding-left: 30px;
}
.table td {
  padding-left: 30px;
  background: black;
}

.table {
  width: 50%;
}

.footer-container {
  background: #696969;
  display: flex;
  flex-direction: row;
}

.footer {
  padding: 50px;
  text-align: center;
}

.footer a {
  padding-right: 20px;
  font-size: 20px;

}

.footer button {
   font-size: 24px;
   // height: 50px;
   cursor: pointer;
   border: 0px;
   margin: 0px;
 }
 .linkedin-footer:hover {
   color: #0077B5;
 }
 .github-footer:hover {
   color: #24292e;
 }
 .facebook-footer:hover {
   color: #3b5998;
 }
 .tweeter-footer:hover {
   color: #1da1f2;
 }

 button:focus {
   border: none;
   outline: none;
 }

 .tax-bracket-calc{
   padding: 30px;
   background: black;
   color: white;
   font-size: 20px;
 }

 .input-padding{
   padding-left: 50%;
   padding-right: 10%;
 }

 .get-help-section {
   width: 70%;
   padding: 30px;
   font-size: large;
   font-weight: 800;
   color: white;
 }
