@import "/*";
@import "bootstrap";
@import "tether";

body {
  background: #F79545;
}

.added{
  height: 350px;
  width: 400px;
  background-color: white;
}

.logo {
  height: 80px;
  width: 80px;
}

.add-margin {
  margin-left: 10px;
}
.logo-name {
  color: #F79545;
  margin-bottom: 0px;
  font-size: 29px;
}
.logo-name1 {
  color: deepskyblue;
}
.logo-link{
  margin-right: 0px;
}
.nav-link {
  font-size: 20px;
  font-family: serif;
}
