@import "/*";
@import "bootstrap";
@import "tether";

body {
  background: #F79545;
}
html {
  scroll-behavior: smooth;
}

.added{
  height: 350px;
  width: 400px;
  background-color: white;
}

.logo {
  height: 80px;
  width: 80px;
}

.add-margin {
  margin-left: 10px;
}
.logo-name {
  color: #F79545;
  margin-bottom: 0px;
  font-size: 26px;
}
.logo-name1 {
  color: deepskyblue;
  font-family: monospace;
  font-size: 23px;
}
.logo-link{
  margin-right: 0px;
}
.nav-link {
  font-size: 20px;
  font-family: serif;
}

.tax-bracket-table {
  display: flex;
  background: #f8f9fa;
  height: 393px;
  overflow: hidden;
  box-shadow: 5px 10px 50px #888888;
  margin-left: 20px;
  border-radius: 20px;
  margin-right: 15px;
}
.description-table {
  width: 50%;
}
.tax-bracket-category {
  font-size: 35px;
  color: #27005c;
  font-family: none;
  padding: 10px;

}

.tax-bracket-description {
  font-family: serif;
  font-size: 22px;
  padding: 20px;
  text-align: initial;
}
::-webkit-scrollbar {
  width: 10px;
  length: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F79545;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
  height: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track-piece {
    height: 30px;
}
::-webkit-scrollbar-thumb{
    border-radius:10px;
    height: 10px;
    width: 10px;
    border: 1px solid black;
    background: rgb(111,111,111);
    -webkit-box-shadow: 0 1px 1px rgb(0,0,0);
    background: -webkit-linear-gradient(rgb(200,200,200), rgb(150,150,150));
}
.table th {
  padding-left: 30px;
}
.table td {
  padding-left: 30px;
  background: black;
}

.table {
  width: 50%;
}

.footer-container {
  background: white;
}















//
// .first-box {
//   background-color: beige;
//   height: 30px;
//   padding: 15px;
//   margin-bottom: 0px;
//   border: 3px solid black;
//   border-radius: 30px;
// }
// .name {
//   float: left;
//   font-size: 22px;
//   padding-left: 50px;
// }
//
// .first-box .other_tabs {
//   font-size: 22px;
//   float: right;
//   padding-right: 50px;
//   padding-bottom: 50px;
// }
//
// a:hover {
//   color: cadetblue;
// }
// a:active {
//   color: green;
// }
// a:focus {
//   color: green;
// }
//
// body {
//   border-radius: 30px;
//   padding-top: 10px;
//   background: #2E151B;
//   margin: 0px;
// }
//
.footer {
  background: white;
  padding: 50px;
  text-align: center;
}

.footer a {
  padding-right: 20px;
  font-size: 20px;

}

.footer button {
   font-size: 24px;
   height: 50px;
   cursor: pointer;
   border: 0px;
   margin: 0px;
 }
 .linkedin-footer:hover {
   color: #0077B5;
 }
 .github-footer:hover {
   color: #24292e;
 }
 .facebook-footer:hover {
   color: #3b5998;
 }
 .tweeter-footer:hover {
   color: #1da1f2;
 }

 button:focus {
   border: none;
   outline: none;
 }

 
//  .result-check {
//    font-size: 20px;
//    font-family: sans-serif;
//    text-align: left;
//  }
//
//
//  #navbar {
//    overflow: hidden;
//    background-color: #f1f1f1;
//    padding: 14px 10px;
//    transition: 2s;
//    position: fixed;
//    width: 100%;
//    z-index: 99;
//    border: 3px solid black;
//    background-color: beige;
//    background-image: repeating-linear-gradient( 45deg, brown, #76BED0, #76BED0 );
//    margin-top: -10px;
//    box-shadow: 2px 7px 50px 0px;
// }
// #navbar a {
//  float: left;
//  color: black;
//  text-align: center;
//  padding: 12px;
//  text-decoration: none;
//  font-size: 30px;
//  line-height: 25px;
//  border-radius: 4px;
// }
// #navbar a:hover {
//  /* color: #842b45; */
//  /* color: red; */
//
//  transition: 1s;
//
// }
//
// #navbar a.active {
//  color: green;
// }
// #navbar a.focus {
//  color: green;
// }
//
// #navbar-right {
//  float: right;
//  margin-right: 100px;
// }
// /* @media screen and (max-width: 580px) {
//  #navbar {
//    padding: 20px 10px !important;
//  }
//  #navbar a {
//    float: none;
//    display: block;
//    text-align: left;
//  }
//  #navbar-right {
//    float: none;
//  }
// } */
//
// .linkedlist-description{
//  font-family: monospace;
//  margin-left: 0px;
// }
//
//
// .this-is-braille {
//  color: moccasin;
//  font-family: monospace;
//  font-size: 30px;
// }
//
// .container-braille {
//  background-color: #607D8B;
//  padding: 20px 30px 30px 30px;
//  border-radius: 30px;
//  margin-top: 125px;
//  border: 3px solid black;
//  overflow: scroll;
//  margin-left: 10px;
//  margin-right: 10px;
// }
//
// .link-to-new a {
//  color: cornsilk;
//  font-size: 20px;
//  font-family: initial;
//  text-decoration: underline;
// }
// .link-to-new1 a {
//  color: black;
//  font-size: 20px;
//  font-family: initial;
//  text-decoration: underline;
// }
//
// .card-magic {
//  display: flex;
//  justify-content: center;
// }
//
//
// #card-22 {
//  display: none;
// }
// .btn-roll {
//  display: none;
// }
// #question {
//  text-decoration: none;
//  font-stretch: unset;
//  font-family: monospace;
//  font-size: 21px;
//  margin-bottom: 0px;
//  padding-left: 35px;
//  padding-right: 35px;
// }
// #reveal-card {
//  display: flex;
//  justify-content: center;
//  flex-direction: column;
//  margin-bottom: 200px;
// }
// #start-game-button {
//  width: 200px;
//  align-self: center;
// }
// input#image_avatar {
//  font-size: 24px;
//  background: black;
//  color: wheat;
//  padding: 8px 8px 8px 8px;
//  border-radius: 5px;
// }
//
// #clear-vision-result {
//  font-family: inherit;
//  font-weight: normal;
// }
//
// a.detected-link {
//  font-family: none;
//  text-decoration: underline;
// }
//
// h1#side-projects-header {
//    font-family: cursive;
//    text-shadow: 1px 1px aliceblue;
//    font-size: 40px;
//    margin-bottom: 0px;
//    text-decoration: underline;
// }


#chevron {
      position: relative;
      text-align: center;
      padding: 12px;
      margin-bottom: 6px;
      height: 60px;
    }
    #chevron:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 51%;
      background: white;
      transform: skew(0deg, 6deg);
    }
    #chevron:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 20%;
      background: white;
      transform: skew(0deg, -6deg);
    }
